<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style-select.css') }}"
  />
  </head>
  <body>
    <div class="main-container">
  
  
      <h1 class="main-text"
        >Enter desired class to see best the best professor!</h1
      >
      <h3>Example: "CS 124"</h3>
      <form method="POST">
      <input class="searchTerm" name="rec" type="text" />
      <button class="searchButton" type="submit">Submit</button>
    </div>
  </body>
</html>
