<!DOCTYPE html>
<html>
  <head>
    <title>AutoComplete</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <link
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="main-header">UIUC Course GPA</h1>
      <form action="/" method="POST">
        <div class="search">
          <input
            name="type"
            id="tags"
            placeholder="Enter course name"
            class="searchTerm"
            oninput="this.value = this.value.toUpperCase()"
          />
          <form class="semester" method="GET" action="/">
            <select name="sem-select" class="semester">
              <option disabled selected value>Select a semester</option>
              {% for option in options %}
                <option value="{{ option }}"> {{ option }}</option>
              {% endfor %}
            </select>
          </form>
            <br /><br />
          </form>
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      <a href=class-recomendation ><button class="glow-on-hover" type="button">Class Recomendation</button></a>
    </div>

    <script>
      $( function() {
        var availableTags = [
            {% for language in languages %}
                "{{language}}",
            {% endfor %}
        ];
        $( "#tags" ).autocomplete({
          source: availableTags
        });
      });
    </script>
  </body>

</html>
