<!DOCTYPE html>
<html>
<head>
    <title>AutoComplete</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
  .box{
    width: 100%;
    height: 100%;
    padding: 350px 0;
    text-align: center;
}
form {
    display:inline-flex;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
<body>
<div class="box">
  <form action = '{{base_url}}/searchPage' method="POST">
  <div class="wrap">
    <div class="search" style="margin-left: 350px;">
      <form method="POST">
     <input name="type" id="tags" placeholder="Enter course name" class="searchTerm" oninput="this.value = this.value.toUpperCase()">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
   </button> 
    </div>
   </div>
   </form>
</div>
    <script>
  $( function() {
    var availableTags = [
        {% for language in languages %}
            "{{language}}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
    
</body>
</html>
